.DS_Store
.eslintcache
.idea/
.iml/
.npmrc
.nyc_output/
.vscode/
.yarnclean
.cache/
*.log
node_modules/
coverage/
targets/
*.tgz
dist

# GQL introspection/codegen files
lib/graphql/introspection-fragment-types.ts
lib/graphql/remote.schema.json
lib/graphql/api.graphql.ts
**/__generated__/